[Desktop Entry]
Name=Gambas
Comment=Gambas Development Environment
Comment[pl]=Środowisko programistyczne Gambas
Icon=gambas
Exec=gambas
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
# vi: encoding=utf-8
