[Desktop Entry]
Name=Gambas
Comment=Gambas Development Environment
Comment[pl]=Środowisko programistyczne Gambas
Icon=gambas.png
Exec=gambas
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
Encoding=UTF-8
# vi: encoding=utf-8
